@{
    ViewBag.Title = "ProductLicenseSearch";
    Layout = "~/Views/Shared/_LayoutDesignMaster.cshtml";
}
<script src="~/js/master/common.master.js"></script>
<script src="~/js/Product/ProductLicenseSearch.js"></script>
<link href="~/Content/datepicker3.min.css" rel="stylesheet" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />
<link href="~/Content/app.css" rel="stylesheet" />
<script src="~/js/common/TopSearch.js"></script>

@section onInit
{
    angular.element(document.getElementById('angularid')).scope().GetSeriesList();
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="main-title">
                <h1>
                    @if (ViewBag.Report == "report")
                    {
                        <span>Product License Report </span>
                    }
                    else
                    {
                        if (ViewBag.ViewMore == "NoInbound")
                        {
                            <span>Product License - @T("Dashboard.InboundNotEntered") </span>
                        }
                        else if (ViewBag.ViewMore == "LicenseExpired")
                        {
                            <span>@T("Dashboard.LicenseExpired")</span>
                        }
                        else
                        {
                            <span>Product License <span ng-bind="(ShowSearchForm ? 'Search' :'Listing')"></span></span>
                        }
                    }
                    @Html.Partial("pagedate")
                </h1>
            </div>
        </div>
        <form name="userForm" class=" form-horizontal" ng-show="ShowSearchForm" novalidate id="ProductLicense_search" ng-submit="submitForm(ProductModel)" ng-cloak>
            <div class="col-md-12">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            Product Details
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"> </a>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class=" form-body ">
                            <div class=" row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-5">SAP Agreement No </label>
                                                <div class="col-md-7">
                                                    <div class="form-group" ng-class="{ 'has-error': ( submitted ||userForm.SAPAgreementNo.$dirty) && userForm.SAPAgreementNo.$invalid } ">
                                                        <input type="text" name="SAPAgreementNo" class="form-control" ng-model="ProductModel.SAPAgreementNo" ng-pattern="/^[a-zA-Z'.\s]/" placeholder="SAP Agreement No">
                                                        <div class="help-block">
                                                            <p ng-show="userForm.SAPAgreementNo.$error.pattern" class="help-block red">Please enter valid SAP Agreement No</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" ng-show="req_ProjectCode">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-5">Project Code </label>
                                                <div class="col-md-7">
                                                    <div class="form-group" ng-class="{ 'has-error': ( submitted ||userForm.ProjectCode.$dirty) && userForm.ProjectCode.$invalid } ">
                                                        <input type="text" name="ProjectCode" class="form-control" ng-model="ProductModel.ProjectCode" ng-pattern="/^[a-zA-Z'.\s]/" placeholder="Project Code">
                                                        <div class="help-block">
                                                            <p ng-show="userForm.ProjectCode.$error.pattern" class="help-block red">Please enter valid Project Code</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-5">Product Code </label>
                                                <div class="col-md-7">
                                                    <div class="form-group" ng-class="{ 'has-error': ( submitted ||userForm.ProductCode.$dirty) && userForm.ProductCode.$invalid } ">
                                                        <input type="text" name="ProductCode" class="form-control" ng-model="ProductModel.ProductCode" ng-pattern="/^[a-zA-Z'.\s]/" placeholder="Product Code">
                                                        <div class="help-block">
                                                            <p ng-show="userForm.ProductCode.$error.pattern" class="help-block red">Please enter valid Product Name</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-5">Product Name </label>
                                                <div class="col-md-7">
                                                    <div class="form-group" ng-class="{ 'has-error': ( submitted ||userForm.ProductName.$dirty) && userForm.ProductName.$invalid } ">
                                                        <input type="text" name="ProductName" class="form-control" ng-model="ProductModel.ProductName" ng-pattern="/^[a-zA-Z0-9'.\s]/" placeholder="Product Name">
                                                        <div class="help-block">
                                                            <p ng-show="userForm.ProductName.$error.pattern" class="help-block red">Please enter valid Product Name</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-5">Sub-Product Name </label>
                                                <div class="col-md-7">
                                                    <div class="form-group" ng-class="{ 'has-error': ( submitted ||userForm.ProductName.$dirty) && userForm.ProductName.$invalid } ">
                                                        <input type="text" name="SubProductName" class="form-control" ng-model="ProductModel.SubProductName" ng-pattern="/^[a-zA-Z0-9'.\s]/" placeholder="Sub-Product Name">
                                                        <div class="help-block">
                                                            <p ng-show="userForm.SubProductName.$error.pattern" class="help-block red">Please enter valid Sub-Product Name</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-5">ISBN </label>
                                                <div class="col-md-7">
                                                    <div class="form-group" ng-class="{ 'has-error': ( submitted ||userForm.ISBN.$dirty) && userForm.ISBN.$invalid } ">
                                                        <input type="text" name="ISBN" class="form-control" ng-model="ProductModel.ISBN" ng-maxlength="13" ng-pattern="/^[0-9]{13}$/" placeholder="ISBN">
                                                        <div class="help-block">
                                                            <p ng-show="userForm.ISBN.$error.pattern" class="help-block red">Please enter valid ISBN</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                @Html.Partial("~/Views/Shared/_divisionSubdivision.cshtml")
                                            </div>
                                        </div>
                                        @*<div class="row">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-5">Product Type</label>
                                                <div class="col-md-7">
                                                    <div class="form-group" ng-class="{ 'has-error': ( submitted ||userForm.ProductType.$dirty) && userForm.ProductType.$invalid } ">
                                                        <input type="text" name="ProductType" class="form-control" ng-model="ProductModel.ProductType" ng-pattern="/^[a-zA-Z'.\s]/" placeholder="Product Type">
                                                        <div class="help-block">
                                                            <p ng-show="userForm.ProductType.$error.pattern" class="help-block red">Please enter valid Product Type</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>*@

                                        <div class=" row">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-5">Product Type </label>
                                                <div class="col-md-7">
                                                    <div class="form-group pt_radio">
                                                        <label class="radio-inline" ng-repeat="Pt in ProductTypeList">
                                                            <input type="radio" name="ProductType" ng-change="getSubProductTypeList(Pt.Id)" ng-model="ProductModel.ProductType" ng-value="{{Pt.Id}}" required> {{Pt.typeName}}
                                                        </label>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        @*<div class="row">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-5">Sub-Product Type</label>
                                                <div class="col-md-7">
                                                    <div class="form-group" ng-class="{ 'has-error': ( submitted ||userForm.SubProductType.$dirty) && userForm.SubProductType.$invalid } ">
                                                        <input type="text" name="SubProductType" class="form-control" ng-model="ProductModel.SubProductType" ng-pattern="/^[a-zA-Z'.\s]/" placeholder="Sub-Product Type">
                                                        <div class="help-block">
                                                            <p ng-show="userForm.SubProductType.$error.pattern" class="help-block red">Please enter valid Sub-Product Type</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>*@

                                        <div class=" row">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-5">Sub-Product Type</label>
                                                <div class="col-md-7">
                                                    <div class="form-group">
                                                        <select class="form-control" name="SubProductType" ng-model="ProductModel.SubProductType">
                                                            <option value="">Please Select</option>
                                                            <option ng-repeat="div in SubProductTypeList" ng-model="SubProductType" value="{{div.Id}}">{{div.typeName}}</option>
                                                        </select>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-5">Imprint</label>
                                                <div class="col-md-7">
                                                    <div class="form-group">
                                                        <select class="form-control" name="ProprietorImprint" ng-model="ProductModel.ProprietorImprint">
                                                            <option value="">Please Select</option>
                                                            <option ng-repeat="div in ImprintList" ng-model="ProprietorImprint" value="{{div.Id}}">{{div.ImprintName}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-5">Language</label>
                                                <div class="col-md-7">
                                                    <div class="form-group">
                                                        <select class="form-control" name="Language" ng-model="ProductModel.Language">
                                                            <option value="">Please Select</option>
                                                            <option ng-repeat="div in LanguageList" ng-model="Language" value="{{div.Id}}">{{div.LanguageName}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-5">Authors</label>
                                                <div class="col-md-7">
                                                    <div class="form-group">
                                                        <select class="form-control" name="Authors" ng-model="ProductModel.Authors">
                                                            <option value="">Please Select</option>
                                                            <option ng-repeat="div in AuthorList" ng-model="Authors" value="{{div.Id}}">{{div.FirstName + " " + div.LastName}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-5">Series</label>
                                                <div class="col-md-7">
                                                    <div class="form-group">
                                                        <select class="form-control" name="Series" ng-model="ProductModel.SeriesList">
                                                            <option value="">Please Select</option>
                                                            @*<option ng-repeat="div in SeriesList" ng-model="Series" value="{{div.SeriesId}}">{{div.SeriesName}}</option>*@
                                                            <option ng-repeat="div in SeriesList" ng-model="Series" value="{{div.Id}}">{{div.SeriesName}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-5">Projected Price</label>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <select class="form-control" name="ProjectedPriceType" ng-model="ProductModel.ProjectedPriceType">
                                                            <option value="">Please Select</option>
                                                            <option ng-model="ProjectedPriceType" value="L">Less Than(<)</option>
                                                            <option ng-model="ProjectedPriceType" value="E">Exactly(=)</option>
                                                            <option ng-model="ProjectedPriceType" value="M">More Than(>)</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 pull-right">
                                                    <div class="form-group" ng-class="{ 'has-error': ( submitted ||userForm.ProjectedPrice.$dirty) && userForm.ProjectedPrice.$invalid } ">
                                                        <input type="text" name="ProjectedPrice" class="form-control" ng-model="ProductModel.ProjectedPrice" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" placeholder="Projected Price">
                                                        <div class="help-block">
                                                            <p ng-show="userForm.ProjectedPrice.$error.pattern" class="help-block red">Please enter valid Projected Price</p>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-5">Projected Currency</label>
                                                <div class="col-md-7">
                                                    <div class="form-group">
                                                        <select class="form-control" id="ProjectedCurrency" name="ProjectedCurrency" ng-model="ProductModel.ProjectedCurrency">
                                                            <option value="">Please Select</option>
                                                            <option ng-repeat="div in CurrencyList" ng-model="ProjectedCurrency" value="{{div.Id}}">{{div.CurrencyName}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" ng-show="@TempData["PermissionsInbound"]==''">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-5">Third Party Permission</label>
                                                <div class="col-md-7">
                                                    <div class="form-group">
                                                        <label class="radio-inline">
                                                            <input type="radio" name="ThridPartyPermission" ng-model="ProductModel.ThridPartyPermission" value="Y">Yes
                                                        </label>
                                                        <label class="radio-inline">
                                                            <input type="radio" name="ThridPartyPermission" ng-model="ProductModel.ThridPartyPermission" value="N"> No
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            License Details
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"> </a>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class=" form-body ">
                            <div class=" row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-5">Project Handled By</label>
                                                <div class="col-md-7">
                                                    <div class="form-group">
                                                        <select class="form-control" name="ProjectHandledBy" ng-model="ProductModel.ProjectHandledBy">
                                                            <option value="">Please Select</option>
                                                            <option ng-repeat="div in ExecutiveList" ng-model="ProjectHandledBy" value="{{div.Id}}">{{div.executiveName}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-5">Product License Code </label>
                                                <div class="col-md-7">
                                                    <div class="form-group" ng-class="{ 'has-error': ( submitted ||userForm.ProjectCode.$dirty) && userForm.ProductLicenseCode.$invalid } ">
                                                        <input type="text" name="ProductLicenseCode" class="form-control" ng-model="ProductModel.ProductLicenseCode" ng-pattern="/^[a-zA-Z'.\s]/" placeholder="Product License Code">
                                                        <div class="help-block">
                                                            <p ng-show="userForm.ProductLicenseCode.$error.pattern" class="help-block red">Please enter valid Product License Code</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-5">Request From Date</label>
                                                <div class="col-md-7">
                                                    <div class="form-group date">
                                                        <div class="input-group input-append date datePicker">
                                                            <input type="text" id="RequestFromDate" name="RequestFromDate" ng-required="false" class="form-control" onchange="angular.element(document.getElementById('angularid')).scope().SetRequestFromDate(this);"
                                                                   ng-model="ProductModel.RequestFromDate" placeholder="Request From Date">
                                                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-5">Request To Date</label>
                                                <div class="col-md-7">
                                                    <div class="form-group date">
                                                        <div class="input-group input-append date datePicker">
                                                            <input type="text" id="RequestToDate" name="RequestToDate" class="form-control" ng-model="ProductModel.RequestToDate" ng-init="SetRequestDate()" placeholder="Request To Date">
                                                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <script type="text/javascript">
                                            $(document).ready(function () {
                                                $("#RequestFromDate").datepicker({
                                                    format: "dd/mm/yyyy",
                                                    todayHighlight: true,
                                                    autoclose: true
                                                });
                                                $("#RequestFromDate").datepicker().on('change', function (e) {
                                                    mstrstartdate = $("#RequestFromDate").val();
                                                    $("#RequestToDate").val('');
                                                    $('#RequestToDate').datepicker('remove');
                                                    $("#RequestToDate").attr("disabled", false);
                                                    $("#RequestToDate").datepicker({
                                                        format: "dd/mm/yyyy",
                                                        // todayHighlight: true,
                                                        autoclose: true,
                                                        startDate: mstrstartdate
                                                    });
                                                });

                                            });
                                        </script>


                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-5">Expiry From Date</label>
                                                <div class="col-md-7">
                                                    <div class="form-group date">
                                                        <div class="input-group input-append date datePicker">
                                                            <input type="text" id="ExpiryFromDate" name="ExpiryFromDate" class="form-control" ng-model="ProductModel.ExpiryFromDate" onchange="angular.element(document.getElementById('angularid')).scope().SetExpiryFromDate(this);" placeholder="Expiry From Date">
                                                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-5">Expiry To Date</label>
                                                <div class="col-md-7">
                                                    <div class="form-group date">
                                                        <div class="input-group input-append date datePicker">
                                                            <input type="text" id="ExpiryToDate" name="ExpiryToDate" class="form-control" ng-model="ProductModel.ExpiryToDate" onchange="angular.element(document.getElementById('angularid')).scope().SetExpiryToDate(this);" placeholder="Expiry To Date">
                                                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <script type="text/javascript">
                                            $(document).ready(function () {
                                                $("#ExpiryFromDate").datepicker({
                                                    format: "dd/mm/yyyy",
                                                    todayHighlight: true,
                                                    autoclose: true
                                                });
                                                $("#ExpiryFromDate").datepicker().on('change', function (e) {
                                                    mstrstartdate = $("#ExpiryFromDate").val();
                                                    $("#ExpiryToDate").val('');
                                                    $('#ExpiryToDate').datepicker('remove');
                                                    $("#ExpiryToDate").attr("disabled", false);
                                                    $("#ExpiryToDate").datepicker({
                                                        format: "dd/mm/yyyy",
                                                        // todayHighlight: true,
                                                        autoclose: true,
                                                        startDate: mstrstartdate
                                                    });
                                                });

                                            });
                                        </script>

                                        <div class=" row">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-5">ISBN Assigned</label>
                                                <div class="col-md-7">
                                                    <div class="form-group">
                                                        <label class="radio-inline">
                                                            <input type="radio" name="ISBNAssigned" ng-model="ProductModel.ISBNAssigned" value="Y"> Yes
                                                        </label>
                                                        <label class="radio-inline">
                                                            <input type="radio" name="ISBNAssigned" ng-model="ProductModel.ISBNAssigned" value="N"> No
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" row">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-5">SAP Agreement Uploaded</label>
                                                <div class="col-md-7">
                                                    <div class="form-group">
                                                        <label class="radio-inline">
                                                            <input type="radio" name="SAPAgreementUploaded" ng-model="ProductModel.SAPAgreementUploaded" value="Y"> Yes
                                                        </label>
                                                        <label class="radio-inline">
                                                            <input type="radio" name="SAPAgreementUploaded" ng-model="ProductModel.SAPAgreementUploaded" value="N"> No
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        
                                    </div>
                                    <div class="col-md-6">

                                        <div class=" row">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-5">Royalty Terms</label>
                                                <div class="col-md-7">
                                                    <div class="form-group">
                                                        <label class="radio-inline">
                                                            <input type="radio" name="RoyaltyTerms" ng-model="ProductModel.RoyaltyTerms" value="R"> Royalty
                                                        </label>
                                                        <label class="radio-inline">
                                                            <input type="radio" name="RoyaltyTerms" ng-model="ProductModel.RoyaltyTerms" value="O"> One-Time Payment
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class=" row">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-5">Advance Amount</label>
                                                <div class="col-md-7">
                                                    <div class="form-group">
                                                        <label class="radio-inline">
                                                            <input type="radio" name="AdvanceAmount" ng-model="ProductModel.AdvanceAmount" value="Y"> Yes
                                                        </label>
                                                        <label class="radio-inline">
                                                            <input type="radio" name="AdvanceAmount" ng-model="ProductModel.AdvanceAmount" value="N"> No
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class=" row">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-5">Price Type</label>
                                                <div class="col-md-7">
                                                    <div class="form-group">
                                                        <label class="radio-inline">
                                                            <input type="radio" name="PriceType" ng-model="ProductModel.PriceType" value="L"> List Price
                                                        </label>
                                                        <label class="radio-inline">
                                                            <input type="radio" name="PriceType" ng-model="ProductModel.PriceType" value="N"> Net Price
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-5">Price</label>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <select class="form-control" name="PriceTypeCond" ng-model="ProductModel.PriceTypeCond">
                                                            <option value="">Please Select</option>
                                                            <option ng-model="PriceTypeCond" value="L">Less Than(<)</option>
                                                            <option ng-model="PriceTypeCond" value="E">Exactly(=)</option>
                                                            <option ng-model="PriceTypeCond" value="M">More Than(>)</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 pull-right">
                                                    <div class="form-group" ng-class="{ 'has-error': ( submitted ||userForm.Price.$dirty) && userForm.Price.$invalid } ">
                                                        <input type="text" name="Price" class="form-control" ng-model="ProductModel.Price" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" placeholder="Projected Price">
                                                        <div class="help-block">
                                                            <p ng-show="userForm.Price.$error.pattern" class="help-block red">Please enter valid Price</p>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-5">Currency</label>
                                                <div class="col-md-7">
                                                    <div class="form-group">
                                                        <select class="form-control" id="Currency" name="Currency" ng-model="ProductModel.Currency">
                                                            <option value="">Please Select</option>
                                                            <option ng-repeat="div in CurrencyList" ng-model="Currency" value="{{div.Id}}">{{div.CurrencyName}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        @*<div class=" row">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-5">License Status</label>
                                                <div class="col-md-7">
                                                    <div class="form-group">
                                                        <label class="radio-inline">
                                                            <input type="radio" name="LicenseStatus" ng-model="ProductModel.LicenseStatus" value="P">Pending
                                                        </label>
                                                        <label class="radio-inline">
                                                            <input type="radio" name="LicenseStatus" ng-model="ProductModel.LicenseStatus" value="I"> Issued
                                                        </label>
                                                        <label class="radio-inline">
                                                            <input type="radio" name="LicenseStatus" ng-model="ProductModel.LicenseStatus" value="C"> Cancelled
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>*@
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-5">Remarks</label>
                                                <div class="col-md-7">
                                                    <div class="form-group" ng-class="{ 'has-error': ( submitted ||userForm.Remarks.$dirty) && userForm.Remarks.$invalid } ">
                                                        <input type="text" name="Remarks" class="form-control" ng-model="ProductModel.Remarks" ng-pattern="/^[a-zA-Z'.\s]/" placeholder="Remarks">
                                                        <div class="help-block">
                                                            <p ng-show="userForm.Remarks.$error.pattern" class="help-block red">Please enter valid Remarks</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        @*<div class=" row">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-5">License Status</label>
                                                <div class="col-md-7">
                                                    <div class="form-group" ng-class="{ 'has-error': ( submitted ||userForm.LicenseStatus.$dirty) && userForm.LicenseStatus.$invalid } ">
                                                        <label class="radio-inline" style="display: inline-flex">
                                                            <input type="checkbox" style="margin-right: 10px;" name="LicenseStatus" ng-model="LicenseStatus.Pending" value="P"> Pending
                                                        </label>
                                                        <label class="radio-inline" style="display: inline-flex">
                                                            <input type="checkbox" style="margin-right: 10px;" name="LicenseStatus" ng-model="LicenseStatus.Issued" value="I"> Issued
                                                        </label>
                                                        <label class="radio-inline" style="display: inline-flex">
                                                            <input type="checkbox" style="margin-right: 10px;" name="LicenseStatus" ng-model="LicenseStatus.Cancelled" value="C"> Cancelled
                                                        </label>
                                                        <div class="help-block">
                                                            <p ng-show="userForm.LicenseStatus.$error.required && (userForm.LicenseStatus.$dirty || submitted)">Please select Contract Status</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>*@


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <input type="hidden" value="@TempData["BackToList"]" ng-model="Hid_backToList" id="Hid_backToList" name="Hid_backToList">
                        <input type="hidden" value="@TempData["PermissionsInbound"]" ng-model="hid_PermissionsInbound" id="hid_PermissionsInbound" name="hid_PermissionsInbound">
                        @*<input type="hidden" value="@TempData["PermissionsOutbound"]" ng-model="hid_PermissionsOutbound" id="hid_PermissionsOutbound" name="hid_PermissionsOutbound">*@
                        @*<input type="hidden" value="@TempData["Impression"]" ng-model="hid_Impression" id="hid_Impression" name="hid_Impression">*@
                        <button type="submit" class="btn green" id="btnSubmit">Search</button>
                    </div>
                </div>
            </div>
        </form>

        <form name="Serch" class="form-horizontal" id="search" ng-hide="ShowSearchForm">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12 backtoSearch">
                        <div class="tools">
                            <span class="back-to-search" ng-click="BackToserch()" ng-if="'@ViewBag.Show' == ''"> Back To Search </span>
                            <span class="back-to-search" ng-click="BackToserch()" ng-if="'@ViewBag.Show' == 'dashboard'"> Back To Dashboard </span>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">
                                    @if (ViewBag.Report == "report")
                                    {
                                        <span>Product License Report </span>
                                    }
                                    else
                                    {
                                            if (ViewBag.ViewMore == "NoInbound")
                                            {
                                                <span>Product License - @T("Dashboard.InboundNotEntered") </span>
                                            }
                                            else if (ViewBag.ViewMore == "LicenseExpired")
                                            {
                                                <span>@T("Dashboard.LicenseExpired")</span>
                                            }
                                            else
                                            {
                                                   <span>Product License Listing </span>
                                            }
                                    }
                                </div>
                                <div class="tools">
                                    <a href="javascript:;" class="collapse"> </a>
                                </div>
                            </div>
                            <div class="portlet-body flip-scroll">
                                <div class="row">
                                    <div class="col-md-12">
                                        &nbsp;
                                    </div>
                                </div>
                                <table datatable="ng" class="table table-bordered table-striped table-condensed flip-content">
                                    <thead class="flip-content">
                                        <tr>
                                            <th>SNo</th>
                                            <th>Product License Code &nbsp;<span class="glyphicon glyphicon-sort"></span></th>
                                            <th>Addendum Code &nbsp;<span class="glyphicon glyphicon-sort"></span></th>
                                            <th>Product Code &nbsp;<span class="glyphicon glyphicon-sort"></span></th>
                                            <th>WorkingTitle &nbsp;<span class="glyphicon glyphicon-sort"></span></th>
                                            <th>ISBN &nbsp;<span class="glyphicon glyphicon-sort"></span></th>
                                            @*<th>Author Name &nbsp;<span class="glyphicon glyphicon-sort"></span></th>*@
                                            <th>Proprietor Name &nbsp;<span class="glyphicon glyphicon-sort"></span></th>
                                            <th>Contract Date &nbsp;<span class="glyphicon glyphicon-sort"></span></th>
                                            <th>Expiry Date &nbsp;<span class="glyphicon glyphicon-sort"></span></th>
                                            <th ng-if="'@ViewBag.Report' != 'report'">Action</th>
                                            <th ng-if="'@ViewBag.Report' == 'report'">Royalty</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr ng-repeat="obj in ProductLicenseList" class="tooltipclass">

                                            <td><span ng-bind="$index + 1"></span></td>
                                            <td><a href="~/Product/ProductLicense/view?Id={{obj.LicenseId}}" style="color: #ee5941;" target="_blank"><span ng-bind="obj.productlicensecode"></span></a></td>
                                            <td><span ng-bind="obj.AddendumCode"></span></td>
                                            <td><a href="~/Product/ProductMaster/ProductDetailsView?Id={{obj.ProductId}}" style="color: #ee5941;" target="_blank"><span ng-bind="obj.productcode"></span></a></td>
                                            <td><span ng-bind="obj.WorkingTitle"></span>  <br /> <span style="font-size:11px;"><span ng-bind="obj.WorkingSubProduct"></span></span></td>
                                            <td><span ng-bind="obj.OUPISBN"></span></td>

                                            @*<td><span ng-bind="obj.AuthorName"></span></td>*@
                                            <td><span ng-bind="obj.ProprietorCompany"></span></td>

                                            @*<td><span ng-bind="obj.ContractDate"></span></td>*@
                                            <td><span class="sortDateHide" ng-bind="obj.AgreementDateForSort"></span>{{obj.AgreementDate}}</td>

                                            <td><span class="sortDateHide" ng-bind="obj.ExpirydateForSort"></span>{{obj.Expirydate}}</td>
                                            <td ng-if="'@ViewBag.Report' != 'report'">
                                                <div class="tooltip-container">
                                                    <input type="checkbox" class="tooltip-toggle" id="tooltip-toggle">
                                                    @*<label for="tooltip-toggle" ng-click="DisplayDiv($index+1)" class="tooltip-btn">*@
                                                    <label for="tooltip-toggle" onclick="fireMe($(this))" class="tooltip-btn customizeLink">
                                                        Action
                                                    </label>
                                                    <label for="tooltip-toggle" class="tooltip-backdrop"></label>
                                                    <div class="tooltip-content">
                                                        <div class="linking">
                                                            <ul>
                                                                <li><a href="~/Product/ProductLicense/UpdateProductLicense?Id={{obj.LicenseId}}" ng-if="(('@ViewBag.Department' == 'AD' || '@ViewBag.Department' == 'SA') && '@TempData["Action"]' == 'update')">Update Product License</a></li>

                                                                @*&& obj.flag == '0'*@
                                                                <li ><a href="~/Product/ProductLicense/UpdateProductLicense?Id={{obj.LicenseId}}"
                                                                         ng-if="(('@ViewBag.Department' == 'RT') && '@TempData["Action"]' == 'update') && '@TempData["Rights"]' != 'Rights' && '@TempData["PermissionsOutbound"]' != 'PermissionsOutbound' && '@TempData["PermissionsInbound"]' != 'PermissionsInbound'">Update Product License</a></li>
                                                                
                                                                <li><a href="~/Product/ProductLicense/DeleteProductLicense?Id={{obj.LicenseId}}" ng-if="(('@ViewBag.Department' == 'AD' || '@ViewBag.Department' == 'SA') && '@TempData["Action"]' == 'delete')">Delete Product License</a></li>

                                                                <li ng-if="obj.flag == '0' && ('@ViewBag.Department' == 'RT' || '@ViewBag.Department' == 'SA')  && '@TempData["BackToList"]' == 'BackToserach' && '@TempData["Rights"]' != 'Rights' && '@TempData["PermissionsOutbound"]' != 'PermissionsOutbound' && '@TempData["PermissionsInbound"]' != 'PermissionsInbound'"><a href="~/Product/ProductLicense/UpdateProductLicense?Id={{obj.LicenseId}}">Update Product License</a></li>

                                                                <li><a ng-if="('@ViewBag.Department' == 'AD' || '@ViewBag.Department' == 'SA') && '@TempData["BackToList"]' == 'BackToserach' && '@TempData["Rights"]' != 'Rights' && '@TempData["PermissionsOutbound"]' != 'PermissionsOutbound' && '@TempData["PermissionsInbound"]' != 'PermissionsInbound'" href="~/Product/ProductLicense/UpdateProductLicense?Id={{obj.LicenseId}}">Update Product License</a></li>

                                                                <li><a href="~/Product/ProductLicense/view?Id={{obj.LicenseId}}">View  Product License</a></li>

                                                                <li><a href="~/Product/ProductLicense/LicenseAddendumEntry?Id={{obj.LicenseId}}" @*ng-show="obj.AddendumId==0"*@ ng-if="('@ViewBag.Department' == 'AD' || '@ViewBag.Department' == 'RT' || '@ViewBag.Department' == 'SA') && '@TempData["Rights"]' != 'Rights' && '@TempData["PermissionsOutbound"]' != 'PermissionsOutbound' && '@TempData["PermissionsInbound"]' != 'PermissionsInbound'">Add Addendum</a></li>
                                                                <li><a href="~/Product/ProductLicense/UpdateAddendumEntry?Id={{obj.LicenseId}}&AddendumId={{obj.AddendumId}}" ng-hide="obj.AddendumId==0" ng-if="('@ViewBag.Department' == 'AD' || '@ViewBag.Department' == 'SA') && '@TempData["Rights"]' != 'Rights' && '@TempData["PermissionsOutbound"]' != 'PermissionsOutbound' && '@TempData["PermissionsInbound"]' != 'PermissionsInbound'">Update Addendum</a></li>
                                                                <li><a href="~/Product/ProductLicense/ViewAddendum?Id={{obj.LicenseId}}&AddendumId={{obj.AddendumId}}" ng-hide="obj.AddendumId==0" ng-if="('@ViewBag.Department' == 'AD' || '@ViewBag.Department' == 'RT' || '@ViewBag.Department' == 'SA')">View Addendum</a></li>

                                                                <li><a href="~/RightsSelling/RightsSelling/RightsSellingMaster?Id={{obj.LicenseId}}&type={{'P'+obj.ProductId}}" ng-if="'@TempData["Rights"]' == 'Rights' && ('@ViewBag.Department' == 'AD' || '@ViewBag.Department' == 'RT' || '@ViewBag.Department' == 'SA')">Add Rights Sales </a></li>
                                                                <li><a href="~/PermissionsOutbound/PermissionsOutbound/PermissionsOutboundMaster?Id={{obj.LicenseId}}&type={{'P'+obj.ProductId}}" ng-if="'@TempData["PermissionsOutbound"]' == 'PermissionsOutbound' && ('@ViewBag.Department' == 'AD' || '@ViewBag.Department' == 'RT' || '@ViewBag.Department' == 'SA')">Add Permissions Out-Bound </a></li>
                                                                <li><a href="~/PermissionsInbound/PermissionsInbound/PermissionsInboundMaster?Id={{obj.LicenseId}}&type={{'L'+obj.ProductId}}" ng-if="'@TempData["PermissionsInbound"]' == 'PermissionsInbound' && ('@ViewBag.Department' == 'AD' || '@ViewBag.Department' == 'RT'|| '@ViewBag.Department' == 'ED' || '@ViewBag.Department' == 'SA')">Add Permissions In-Bound </a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td ng-if="'@ViewBag.Report' == 'report'">
                                                <p ng-if="obj.Royalty.length == '0'">--</p>
                                                <p ng-repeat="rolyalty in obj.Royalty">
                                                    <span ng-bind="rolyalty.SubProductType | uppercase "></span> - <span ng-bind="rolyalty.CopiesFrom"></span> to <span ng-show="rolyalty.CopiesTo == ''  || rolyalty.CopiesTo == null"> above</span><span ng-show="rolyalty.CopiesTo != '' && rolyalty.CopiesTo != null"> <span ng-bind="rolyalty.CopiesTo"></span></span>
                                                </p>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>

                                <input type="hidden" id="hid_ForPLReport" value="@ViewBag.Report" />
                                @if (ViewBag.Report == "report")
                                {
                                    <div class="PrintTableData" style="display:none">
                                        <table class="table table-bordered table-striped table-condensed flip-content" id="TblForPrint">
                                            <thead class="flip-content">
                                                <tr>
                                                    <th>SNo</th>
                                                    <th>Product License Code</th>
                                                    <th>Addendum Code</th>
                                                    <th>Product Code</th>
                                                    @*<th>Project Code</th>*@

                                                    <th>WorkingTitle</th>
                                                    <th>ISBN</th>

                                                    <th>Contract Date</th>
                                                    <th>Expiry Date</th>
                                                    <th>Royalty</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr ng-repeat="obj in ProductLicenseList" class="tooltipclass">

                                                    <td><span ng-bind="$index + 1"></span></td>
                                                    <td><span ng-bind="obj.productlicensecode"></span></td>
                                                    <td><span ng-bind="obj.AddendumCode"></span></td>
                                                    <td><span ng-bind="obj.productcode"></span></td>
                                                    @*<td><span ng-bind="obj.projectcode"></span></td>*@
                                                    <td><span ng-bind="obj.WorkingTitle"></span></td>
                                                    <td><span ng-bind="obj.OUPISBN"></span></td>

                                                    @*<td><span ng-bind="obj.ContractDate"></span></td>*@
                                                    <td><span ng-bind="obj.AgreementDate"></span></td>

                                                    <td><span ng-bind="obj.Expirydate"></span></td>
                                                    <td>
                                                        <p ng-if="obj.Royalty.length == '0'">--</p>
                                                        <p ng-repeat="rolyalty in obj.Royalty">
                                                            <span ng-bind="rolyalty.SubProductType | uppercase "></span> - <span ng-bind="rolyalty.CopiesFrom"></span> to <span ng-show="rolyalty.CopiesTo == ''  || rolyalty.CopiesTo == null"> above</span><span ng-show="rolyalty.CopiesTo != '' && rolyalty.CopiesTo != null"> <span ng-bind="rolyalty.CopiesTo"></span></span>
                                                        </p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>

                    @*@if (Session["PrintPermissions"] != null && ViewBag.Report == "report")
                    {
                        <div class="col-md-12 text-center btnPrint">
                            <div class="tools">
                                @* Click Event Is Define in ~/Views/Shared/Footer.cshtml File *@
                               @*  <input type="button" class="btn green" id="btn_printDataTable" value="Print" style=" margin: .5%; ">
                            </div>
                        </div>
                    }*@
                    
                    @if (Session["GenerateExcelPermissions"] != null && ViewBag.Report == "report")
                    {
                        <div class="col-md-12 text-center btnPrint">
                            <div class="tools">
                                <button type="submit" class="btn green" ng-click="ProductLicenseReportExcel()" id="btnSubmit">Generate Excel</button>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </form>
    </div>
    <input type="hidden" name="hid_show" id="hid_show" value="@ViewBag.Show" />
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.datePicker')
            .datepicker({
                format: "dd/mm/yyyy",
                autoclose: true,
            })
    });


    function fireMe(obj) {
        var length = $(".customizeLink").length;
        for (i = 0; i < $(".customizeLink").length; i++) {
            $($(".customizeLink")[i]).attr("sequence", i);
        }
        angular.element(document.getElementById('angularid')).scope().DisplayDiv(parseInt($(obj).attr("sequence")) + 1);
    };

</script>
